* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

form {
	padding: 20px;
	font-family: 'poppins' sans-serif;
	font-weight: 600;
	max-width: 600px;
	justify-content: center;
	align-items: center;
	margin: auto;
}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: rgb(70, 70, 70);
	color: white;
	padding: 10px 20px;
	border: none;
	margin: auto;
	justify-content: center;
	align-items: center;
	max-width: 100px;
}

input[type=submit]:hover {
	background-color: #cc6600;
}

.container {
	padding: 15px;
}

/* For screens greater than 1024px
-------------------------------------------*/

@media screen and (min-width: 1024px) {
	form {
		max-width: 600px;
		justify-content: center;
		align-items: center;
		margin: auto;
		font-weight: 600;
	}
}
