* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contact-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4rem 2rem;
	margin: auto;
}

section.contact-container {
	display: flex;
	justify-content: space-around;
	text-align: center;
	height: 100%;
	padding: 30px;
}

label {
	float: left;
}

input[type=text],
input[type=email],
input[type=subject],
select,
textarea {
	width: 100%;
	padding: 12px;
	border-radius: 2px;
	box-sizing: border-box;
}

fieldset.btn-submit {
	width: 100%;
}

@media screen and (min-width 1024px) {
	.contact-container {
		grid-template-columns: 2fr 3fr;
	}

	section.contact-container {
		display: flex;
		flex-direction: column;
	}
}
