/* FOOTER */

* {
	padding: 0;
	margin: 0;
	box-sizing: 0;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: black;
    font-family: font-family: 'Poppins', sans-serif;
}

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-social {
	text-decoration: none;
	font-style: 'poppins';
}
