/* FOOTER */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-social {
	font-size: 35px;
}

.footer-social li a {
	color: white;
}

.footer-legal {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	align-items: center;
	justify-content: center;
}

.footer-legal a {
	display: flex;
	text-decoration: none;
	flex-direction: column;
}

.footer-social li a.facebook:hover {
	color: #3b5998;
}

.footer-social li a.twitter:hover {
	color: #00acee;
}

.footer-social li a.youtube:hover {
	color: #c4302b;
}

.footer-legal a {
	color: white;
}

.footer-legal a:hover {
	color: #021859;
}

.footer-copyright {
	display: flex;
	text-decoration: none;
	font-size: 14px;
	color: teal;
}

@media screen and (min-with: 1024px) {
	.footer-legal {
		display: flex;
		flex-direction: row;
	}

	.footer-legal a {
		display: flex;
		flex-direction: row-reverse;
	}
}
