header {
	background: black;
	min-height: 53.13px;
}

.logo {
	max-width: 100px;
}

nav,
#hamburger-menu {
	display: none;
}

nav ul {
	padding: 0px;
}

nav li {
	display: block;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 10px;
	display: block;
}

nav a:hover {
	text-decoration: underline;
}

.hamburger-label {
	color: #fff;
	padding: 10px;
	font: 1.5em;
	display: block;
	position: absolute;
	right: 0;
	top: 0px;
}

#hamburger-menu:checked ~ nav {
	display: block;
}

@media screen and (min-width: 1024px) {
	.logo {
		max-width: 200px;
	}

	nav {
		display: inline-block;
	}

	.hamburger-label {
		display: none;
	}

	ul {
		display: flex;
	}
}
