* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'poppins', sans seriff;
	background-color: white;
}

header {
	display: flex;
	background-color: black;
	height: 159.18px;
}

.logo {
	max-width: 300px;
	margin: 0;
	padding: 0;
}
