* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header {
	background: black;
	max-height: 53.13;
}

.logo {
	max-width: 100px;
}

@media screen and (min-width: 1024px) {
	.logo {
		max-width: 200px;
	}
}
