* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'poppins', sans seriff;
	background-color: white;
}

header {
	display: flex;
	background-color: white;
	height: 159.18px;
}

h1 {
	display: none;
}

nav {
	display: none;
}

label {
	display: block;
	height: 48px;
	padding: 10px;
}

.hamburger-menu {
}

#hamburger-menu {
	display: none;
}

#hamburger-menu:checked ~ nav {
	display: block;
}

.nav-links {
	display: flex;
	background-color: red;
	justify-content: space-around;
}

@media screen and (min-width: 1024px) {
	nav {
		display: flex;
	}

	.hamburger-menu {
		display: none;
	}

	header {
		display: flex;
	}

	.nav-links {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 10px;
		margin: 10px;
	}
}
