* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo-container {
	display: flex;
}

.logo {
	max-width: 300px;
	float: left;
}

nav {
	display: flex;
	background-color: black;
	align-items: center;
	justify-content: space-around;
	height: 159.38px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
}
