* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'poppins', sans seriff;
	background-color: white;
}

header {
	display: flex;
	background-color: white;
}

.logo {
	max-width: 125px;
}

.logo-container {
	height: 66.41px;
}

nav {
	display: none;
}

label {
	display: block;
	height: 48px;
	padding: 10px;
	position: fixed
	right: 0px;
}

.hamburger-menu {
}

#hamburger-menu {
	display: none;
}

#hamburger-menu:checked ~ nav {
	display: block;
}

@media screen and (min-width: 1024px) {
	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-family: 'poppins', sans-serif;
		background-color: red;
		position: absolute;
		right: 0px;
	}

	.logo {
		display: flex;

		max-width: 300px;
	}

	.hamburger-menu {
		display: none;
	}

	.nav-links {
		display: flex;
		width: 30%;
		background-color: red;
		justify-content: space-around;
		align-items: center;
	}
}
