* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header {
	background: black;
	min-height: 53.13;
}

.logo {
	max-width: 100px;
}

a.fas.fa-phone,
a.fas.fa-envelope {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.email {
	display: flex;
}

/* NAVIGATION/HAMBURGER MENU/CLICKEBLE
-------------------------------------------*/

/*PICTURES
-----------------------------------------------*/

.homepic,
.space,
.mammoth,
.people,
.science,
.ant {
	width: auto;
	max-width: 100%;
	height: auto;
	margin-bottom: 3vh;
}

/*TEXT/FONT/TEXT ALIGNMENY
--------------------------------------------------*/

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
	font-size: 30px;
	margin: 40px;
	text-align: center;
}

h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 20px;
	margin: 40px;
	text-align: center;
}

p {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 15px;
	margin: 40px;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.open-hours p {
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contact-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mail {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* GRID Container */
.visit {
	display: flexbox;
	flex-direction: column;
}

@media screen and (min-width: 1024px) {
	.logo {
		max-width: 200px;
	}
}
