* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'poppins', sans seriff;
	background-color: white;
}

header {
	display: flex;
	background-color: white;
	height: 159.18px;
}

nav {
	display: none;
}

label {
	display: block;
	height: 48px;
	padding: 10px;
}

.hamburger-menu {
}

#hamburger-menu {
	display: none;
}

#hamburger-menu:checked ~ nav {
	display: block;
}

@media screen and (min-width: 1024px) {
	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-family: 'poppins', sans-serif;
		background-color: red;
	}

	.hamburger-menu {
		display: none;
	}

	.nav-links {
		display: flex;
		background-color: red;
		justify-content: space-around;
	}

	h1 {
		display: none;
	}
}
