* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'poppins', sans seriff;
	background-color: white;
}

header {
	display: flex;
	background-color: black;
}

.logo {
	max-width: 125px;
}

.logo-container {
	height: 66.41px;
}

/* NAVIGATION/HAMBURGER MENU/CLICKEBLE
-------------------------------------------*/

/*PICTURES
-----------------------------------------------*/

.homepic,
.space,
.mammoth,
.people,
.science,
.ant {
	width: auto;
	max-width: 100%;
	height: auto;
}

/*TEXT/FONT/TEXT ALIGNMENY
--------------------------------------------------*/

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
	font-size: 30px;
	margin: 40px;
	text-align: center;
}

h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 20px;
	margin: 40px;
	text-align: center;
}

h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
	font-size: 20px;
	margin: 40px;
	text-align: center;
}

p {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 15px;
	margin: 40px;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.open-hours p {
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.footer-copyright {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contact-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mail {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* GRID Container */
.visit {
	display: flexbox;
	flex-direction: column;
}

@media screen and (min-width: 1024px) {
	header {
		height: 159.38px;
	}

	.logo {
		display: flex;

		max-width: 300px;
	}

	.homepic {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 1664px;
		margin-left: auto;
		margin-right: auto;
	}

	h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'poppins', sans-serif;
		font-weight: 600;
		font-size: 60px;
		margin: 40px;
	}

	p {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'poppins', sans-serif;
		font-weight: 600;
		font-size: 20px;
		margin: 40px;
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	h3 {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'poppins', sans-serif;
		font-weight: 600;
		font-size: 40px;
		margin: 40px;
	}

	.space,
	.mammoth,
	.people,
	.science,
	.ant {
		display: flex;
		width: auto;
		max-width: 100%;
		height: auto;
	}
}
